<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Min</key>
		<string>000000</string>
		<key>Max</key>
		<string>000000</string>
		<key>Name</key>
		<string>Aircraft</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>00</string>
				<string>00</string>
				<string>00</string>
				<string>00</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>00</string>
				<string>00</string>
				<string>00</string>
				<string>00</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>00</string>
				<string>00</string>
				<string>00</string>
				<string>00</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>00</string>
				<string>00</string>
				<string>00</string>
				<string>00</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>039826</string>
		<key>Max</key>
		<string>075900</string>
		<key>Name</key>
		<string>A319-100</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>39</string>
				<string>40</string>
				<string>44</string>
				<string>50</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>44</string>
				<string>46</string>
				<string>48</string>
				<string>50</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>19</string>
				<string>19</string>
				<string>20</string>
				<string>23</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>20</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>041345</string>
		<key>Max</key>
		<string>077400</string>
		<key>Name</key>
		<string>A320-200</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>41</string>
				<string>42</string>
				<string>47</string>
				<string>53</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>46</string>
				<string>49</string>
				<string>51</string>
				<string>53</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>20</string>
				<string>20</string>
				<string>22</string>
				<string>25</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>22</string>
				<string>23</string>
				<string>25</string>
				<string>26</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>046959</string>
		<key>Max</key>
		<string>093900</string>
		<key>Name</key>
		<string>A321-200</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>53</string>
				<string>56</string>
				<string>61</string>
				<string>67</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>61</string>
				<string>64</string>
				<string>66</string>
				<string>69</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>24</string>
				<string>24</string>
				<string>26</string>
				<string>30</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>27</string>
				<string>28</string>
				<string>30</string>
				<string>31</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>117041</string>
		<key>Max</key>
		<string>233900</string>
		<key>Name</key>
		<string>A330-200</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>58</string>
				<string>63</string>
				<string>72</string>
				<string>98</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>53</string>
				<string>62</string>
				<string>73</string>
				<string>86</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>25</string>
				<string>26</string>
				<string>29</string>
				<string>35</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>26</string>
				<string>27</string>
				<string>30</string>
				<string>34</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>120132</string>
		<key>Max</key>
		<string>233900</string>
		<key>Name</key>
		<string>A330-300</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>59</string>
				<string>63</string>
				<string>74</string>
				<string>100</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>55</string>
				<string>63</string>
				<string>75</string>
				<string>87</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>27</string>
				<string>28</string>
				<string>30</string>
				<string>37</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>28</string>
				<string>28</string>
				<string>31</string>
				<string>36</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>170370</string>
		<key>Max</key>
		<string>369200</string>
		<key>Name</key>
		<string>A340-500</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>64</string>
				<string>69</string>
				<string>80</string>
				<string>108</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>61</string>
				<string>71</string>
				<string>83</string>
				<string>96</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>25</string>
				<string>26</string>
				<string>28</string>
				<string>35</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>27</string>
				<string>28</string>
				<string>30</string>
				<string>34</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>176364</string>
		<key>Max</key>
		<string>381200</string>
		<key>Name</key>
		<string>A340-600</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>66</string>
				<string>71</string>
				<string>83</string>
				<string>112</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>63</string>
				<string>73</string>
				<string>86</string>
				<string>100</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>26</string>
				<string>27</string>
				<string>29</string>
				<string>36</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>28</string>
				<string>28</string>
				<string>31</string>
				<string>36</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>270281</string>
		<key>Max</key>
		<string>571000</string>
		<key>Name</key>
		<string>A380-800</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>59</string>
				<string>64</string>
				<string>76</string>
				<string>104</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>57</string>
				<string>67</string>
				<string>79</string>
				<string>91</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>24</string>
				<string>25</string>
				<string>27</string>
				<string>34</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>24</string>
				<string>26</string>
				<string>29</string>
				<string>33</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>145150</string>
		<key>Max</key>
		<string>348359</string>
		<key>Name</key>
		<string>B777-200LR</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>62</string>
				<string>69</string>
				<string>87</string>
				<string>117</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>64</string>
				<string>83</string>
				<string>106</string>
				<string>128</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>20</string>
				<string>21</string>
				<string>24</string>
				<string>31</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>21</string>
				<string>23</string>
				<string>28</string>
				<string>34</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>167829</string>
		<key>Max</key>
		<string>352441</string>
		<key>Name</key>
		<string>B777-300ER</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>64</string>
				<string>71</string>
				<string>89</string>
				<string>120</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>66</string>
				<string>86</string>
				<string>110</string>
				<string>132</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>24</string>
				<string>25</string>
				<string>29</string>
				<string>40</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>25</string>
				<string>28</string>
				<string>35</string>
				<string>43</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>144378</string>
		<key>Max</key>
		<string>348722</string>
		<key>Name</key>
		<string>B777F</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>62</string>
				<string>69</string>
				<string>87</string>
				<string>117</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>64</string>
				<string>83</string>
				<string>106</string>
				<string>128</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>19</string>
				<string>21</string>
				<string>23</string>
				<string>31</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>21</string>
				<string>23</string>
				<string>27</string>
				<string>34</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Min</key>
		<string>149690</string>
		<key>Max</key>
		<string>253560</string>
		<key>Name</key>
		<string>B787-900</string>
		<key>MAM</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>66</string>
				<string>73</string>
				<string>88</string>
				<string>118</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>65</string>
				<string>76</string>
				<string>90</string>
				<string>103</string>
			</array>
		</dict>
		<key>OME</key>
		<dict>
			<key>Flexible</key>
			<array>
				<string>35</string>
				<string>36</string>
				<string>41</string>
				<string>55</string>
			</array>
			<key>Rigid</key>
			<array>
				<string>34</string>
				<string>38</string>
				<string>44</string>
				<string>51</string>
			</array>
		</dict>
	</dict>
</array>
</plist>
