<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIFM</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.296Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>x9os0EDJaL</string>
		<key>page</key>
		<string>37-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:53.666Z</string>
		<key>wptname</key>
		<string>EGPAT</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIFM</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.302Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>jiVVSV5zaa</string>
		<key>page</key>
		<string>37-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:49.189Z</string>
		<key>wptname</key>
		<string>EGVEL</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, G666</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.320Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>ERV0f1O6dC</string>
		<key>page</key>
		<string>38-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:39.424Z</string>
		<key>wptname</key>
		<string>KUPTO</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, G666</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.326Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>NVTth8oI0G</string>
		<key>page</key>
		<string>38-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:38.507Z</string>
		<key>wptname</key>
		<string>SYZ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, G666</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.335Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>qqHZJNV9bt</string>
		<key>page</key>
		<string>38-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:37.600Z</string>
		<key>wptname</key>
		<string>OBTUX</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, G666</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.341Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>BCkdlDDmRz</string>
		<key>page</key>
		<string>38-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:36.655Z</string>
		<key>wptname</key>
		<string>LOXAK</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, G666</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.347Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>JnxWrbWLn2</string>
		<key>page</key>
		<string>38-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:35.745Z</string>
		<key>wptname</key>
		<string>EGPAT</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>Q3</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.354Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>soRdBdIwNX</string>
		<key>page</key>
		<string>39-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:34.832Z</string>
		<key>wptname</key>
		<string>ALRAM</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>Q3</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.367Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>4aIRZTufeL</string>
		<key>page</key>
		<string>39-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:33.930Z</string>
		<key>wptname</key>
		<string>KAPES</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.374Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>4N4LyWcGln</string>
		<key>page</key>
		<string>40-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:33.009Z</string>
		<key>wptname</key>
		<string>UMH</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.380Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>7xQWKR86hh</string>
		<key>page</key>
		<string>40-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:32.032Z</string>
		<key>wptname</key>
		<string>SNJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OKBK, OEDF, OBBI, OTBD</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.386Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>MjH5cKweYH</string>
		<key>page</key>
		<string>41-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:28.773Z</string>
		<key>wptname</key>
		<string>MESVI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OKBK, OEDF, OBBI, OTBD</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.392Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>W1VNgLCkuJ</string>
		<key>page</key>
		<string>41-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:27.906Z</string>
		<key>wptname</key>
		<string>ALTAX</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OKBK, OEDF, OBBI, OTBD</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.429Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>oK2HiteEhW</string>
		<key>page</key>
		<string>43-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:22.317Z</string>
		<key>wptname</key>
		<string>MESVI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OKBK, OEDF, OBBI, OTBD</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.435Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>NbxVq25Yap</string>
		<key>page</key>
		<string>43-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:21.419Z</string>
		<key>wptname</key>
		<string>RADID</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>W3, W10</string>
		<key>alternates</key>
		<string>OISS, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.441Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>cX7VWnOcYP</string>
		<key>page</key>
		<string>44-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:20.494Z</string>
		<key>wptname</key>
		<string>RADID</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>W3, W10</string>
		<key>alternates</key>
		<string>OISS, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.447Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>jkFI1pUpXa</string>
		<key>page</key>
		<string>44-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:19.615Z</string>
		<key>wptname</key>
		<string>SYZ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>W3, W10</string>
		<key>alternates</key>
		<string>OISS, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.453Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>KLJOf1T5P8</string>
		<key>page</key>
		<string>44-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:18.719Z</string>
		<key>wptname</key>
		<string>TAGTA</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>W3, W10</string>
		<key>alternates</key>
		<string>OISS, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.459Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>XCpJv4PiQW</string>
		<key>page</key>
		<string>44-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:17.810Z</string>
		<key>wptname</key>
		<string>MOBON</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK, OIKB, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.465Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>jk00Z6Gep4</string>
		<key>page</key>
		<string>45-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:16.861Z</string>
		<key>wptname</key>
		<string>KER</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK, OIKB, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.470Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>M2O9sGHKEc</string>
		<key>page</key>
		<string>45-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:15.199Z</string>
		<key>wptname</key>
		<string>ALMEK</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK, OIKB, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.476Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>48DDxZjTPj</string>
		<key>page</key>
		<string>45-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:13.556Z</string>
		<key>wptname</key>
		<string>NANTO</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK, OIKB, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.483Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>9hLh3d1GEm</string>
		<key>page</key>
		<string>45-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:12.579Z</string>
		<key>wptname</key>
		<string>TAVNO</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UR661, UL125</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.494Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>blNz8ATDhC</string>
		<key>page</key>
		<string>46-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:10.740Z</string>
		<key>wptname</key>
		<string>TBZ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK, OIKB, OMSJ, OMDB, OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.489Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>eIWBOzD4US</string>
		<key>page</key>
		<string>45-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:11.661Z</string>
		<key>wptname</key>
		<string>BND</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UR661, UL125</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.501Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>5mTdusiZTH</string>
		<key>page</key>
		<string>46-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:09.758Z</string>
		<key>wptname</key>
		<string>ZAJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.515Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>RE8sL6WmvM</string>
		<key>page</key>
		<string>47-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:08.029Z</string>
		<key>wptname</key>
		<string>ZAJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.522Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>bgJlzZeExf</string>
		<key>page</key>
		<string>47-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:05.234Z</string>
		<key>wptname</key>
		<string>SESBI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.528Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>QVz4lQ2XAS</string>
		<key>page</key>
		<string>47-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:03.942Z</string>
		<key>wptname</key>
		<string>SAV</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.533Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>sB7zO8e1Sz</string>
		<key>page</key>
		<string>47-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:57.532Z</string>
		<key>wptname</key>
		<string>PEKAM</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.539Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>KfvbNEMSHE</string>
		<key>page</key>
		<string>48-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:56.682Z</string>
		<key>wptname</key>
		<string>PEKAM</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.546Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>8HSVU3ZOZU</string>
		<key>page</key>
		<string>48-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:55.885Z</string>
		<key>wptname</key>
		<string>EGPAT</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.552Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>dXeUxy3e7E</string>
		<key>page</key>
		<string>48-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:55.076Z</string>
		<key>wptname</key>
		<string>OBTUX</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574</string>
		<key>alternates</key>
		<string>OIFM, OISS</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.558Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>9MIXMDH61s</string>
		<key>page</key>
		<string>48-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:54.294Z</string>
		<key>wptname</key>
		<string>SYZ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UR654</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.570Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>31uBSp3vl5</string>
		<key>page</key>
		<string>49-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:52.591Z</string>
		<key>wptname</key>
		<string>ZAJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>G482, R661, UL125</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.575Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>mCpmKP7C7P</string>
		<key>page</key>
		<string>50-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:51.782Z</string>
		<key>wptname</key>
		<string>ZAJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>G482, R661, UL125</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.581Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>OgFKrzHFUO</string>
		<key>page</key>
		<string>50-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:50.947Z</string>
		<key>wptname</key>
		<string>TBZ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>G482, R661, UL125</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.587Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>zaiis5BHQu</string>
		<key>page</key>
		<string>50-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:50.142Z</string>
		<key>wptname</key>
		<string>MAGRI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.595Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>5So4TVglPi</string>
		<key>page</key>
		<string>51-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:49.314Z</string>
		<key>wptname</key>
		<string>LABKA</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.602Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>MzvRbuHnEl</string>
		<key>page</key>
		<string>51-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:48.540Z</string>
		<key>wptname</key>
		<string>SESBI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.614Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>YCaHgh5hBC</string>
		<key>page</key>
		<string>51-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:46.934Z</string>
		<key>wptname</key>
		<string>PEKAM</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>N39</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.620Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>btcQbDJfIR</string>
		<key>page</key>
		<string>52-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:46.076Z</string>
		<key>wptname</key>
		<string>NSR</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>N39</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.629Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>LVrZRN4uGV</string>
		<key>page</key>
		<string>52-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:45.193Z</string>
		<key>wptname</key>
		<string>RADAL</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.636Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>TOQM9ttgP0</string>
		<key>page</key>
		<string>53-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:44.238Z</string>
		<key>wptname</key>
		<string>KER</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.641Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>XaRb24TPGQ</string>
		<key>page</key>
		<string>53-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:42.808Z</string>
		<key>wptname</key>
		<string>TBS</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>A419</string>
		<key>alternates</key>
		<string>OIKK</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.647Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>JJeLjN7pwO</string>
		<key>page</key>
		<string>53-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:39.838Z</string>
		<key>wptname</key>
		<string>AVGUV</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIII</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.608Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>aWEJdXF2sw</string>
		<key>page</key>
		<string>51-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:47.730Z</string>
		<key>wptname</key>
		<string>SAV</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UR654</string>
		<key>alternates</key>
		<string>OITT</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.564Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>kNEAelXiL8</string>
		<key>page</key>
		<string>49-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:48:53.412Z</string>
		<key>wptname</key>
		<string>MAGRI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.423Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>TS0JPYjkFM</string>
		<key>page</key>
		<string>42-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:23.179Z</string>
		<key>wptname</key>
		<string>ALTAX</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.416Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>a8qYFnb8Ir</string>
		<key>page</key>
		<string>42-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:24.065Z</string>
		<key>wptname</key>
		<string>DASDO</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OMAA</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.410Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>nEPyYYym8H</string>
		<key>page</key>
		<string>42-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:24.915Z</string>
		<key>wptname</key>
		<string>MESVI</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UL223</string>
		<key>alternates</key>
		<string>OKBK, OEDF, OBBI, OTBD</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.404Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>zhYULU5tEC</string>
		<key>page</key>
		<string>41-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:26.944Z</string>
		<key>wptname</key>
		<string>SNJ</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIFM</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.314Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>dlavE6M5eJ</string>
		<key>page</key>
		<string>37-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:40.386Z</string>
		<key>wptname</key>
		<string>RUS</string>
	</dict>
	<dict>
		<key>aircraft</key>
		<string>Narrowbody</string>
		<key>airways</key>
		<string>UP574, R654, UL124</string>
		<key>alternates</key>
		<string>OIIE, OIFM</string>
		<key>chapter</key>
		<string>10.1</string>
		<key>createdAt</key>
		<string>2015-04-20T10:37:42.308Z</string>
		<key>direction</key>
		<string>INBOUND</string>
		<key>objectId</key>
		<string>GuEEtAMlYz</string>
		<key>page</key>
		<string>37-72</string>
		<key>region</key>
		<string>IRAN</string>
		<key>updatedAt</key>
		<string>2015-04-28T16:49:41.978Z</string>
		<key>wptname</key>
		<string>SAV</string>
	</dict>
</array>
</plist>
